.container { margin-top: 4rem; }

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  border: 1px solid #086ba5 !important;
  padding-left: 0.5rem;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #086ba5;
  border-radius: 2px;
}

.list-group-item {
  border: 1px solid #086ba5 !important;
  cursor: pointer;
  border-radius: 2px !important;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
}

.list-group-item:hover {
  background-color: #97c0d8;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
}